<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="application_projet4_groupe12">
    <!-- SD card write permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- vibration permission -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="application_projet4_groupe12.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="application_projet4_groupe12.activities.SignUp"
            android:screenOrientation="portrait"/>

        <activity android:name="application_projet4_groupe12.activities.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="application_projet4_groupe12.activities.QRResultActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity" />

        <activity android:name="application_projet4_groupe12.activities.QRGenerateActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="application_projet4_groupe12.activities.QRScanActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.browse_points.BrowsePointsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.browse_clients.BrowseClientsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.settings.SettingsUserActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.settings.SettingsPartnerActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.browse_points.UsePromotionsActivity"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="41392d700fd9c84308e00fbc73c99a03e11941f7" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>





</manifest>


